.container{
    width: 1000px;
    border: 4px solid #838383;
    border-radius: 8px;
    box-sizing: border-box;
    padding: 5px;
    margin: 0 auto;
}
.d-flex{
    display: flex;
    align-items: center;
    justify-content: center;
}
.header, .main_left_header{
    height: 150px;
    background: #d7d7d7;
}
.main{
    margin-top: 5px;
    display: flex;
    column-gap: 5px;
}
.main_left_content{
    display: flex;
    column-gap: 5px;
}
.main_left_item{
    height: 150px;
    background: #d7d7d7;
    flex-grow: 1;
}
.main_left{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    width: 80%;
}
.main_right{
    flex-grow: 1;
    background: #d7d7d7;
}