
.wrap_all{
    width: 1000px;
    margin: 0 auto;
}
.widgets{
    display: flex;
    background: #357bd7;
    color: #fff;
    height: 300px;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    margin-bottom: 25px;
}
.widgets_item{
    display: flex;
    column-gap: 25px;
}
.wid-item{
    display: flex;
    background: #144079;
    height: 300px;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: #fff;
}
.big{
    flex: 1 3 350px;
}
.bigger{
    flex: 2 2 350px;
}
.huge{
    flex: 3 1 350px;
}

.contact{
    margin-top: 25px;
    display: flex;
    background: #357bd7;
    color: #fff;
    height: 500px;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}