@media screen and (max-width: 400px){

    /*header__top*/

    .header__menu{
        display: none;
    }
    .header__logo img{
        width: 50px;
    }
    .wrapper{
        max-width: 340px;
        padding: 0 10px;
    }
    .header__top{
        padding-top: 20px;
    }
    .nav__btn__mobile{
        display: flex;
        flex-direction: column;
        row-gap: 4px;
    }
    .nav__btn__mobile div{
        background: #FF7400;
        border-radius: 50px;
        width: 30.88px;
        height: 3.25px;
    }

    /*header__main*/

    .header__title h2{
        font-size: 30px;
        line-height: 34px;
    }
    .header__title h1{
        font-size: 40px;
        line-height: 46px;
    }
    .header__title p{
        font-size: 15px;
        line-height: 20px;
    }
    .header__title p::before,
    .header__title p::after{
        display: none;
    }



    /*header bottom*/
    .card__item {
        padding: 4px;
    }
    .card__item p {
        font-size: 22px;
        line-height: 25px;
    }


    /*section history*/
    .history {
        padding-top: 1025px;
    }
    .history__title{
        text-align: center;
    }
    .history__numb{
        margin-top: 130px;
    }
    .img__history{
        width: 290px;
        margin-top: 55px;
    }
    .row__history__bottom{
        flex-direction: column;
    }
    .title__history__bottom h3{
        font-size: 30px;
        line-height: 34px;
        text-align: center;
    }
    .title__history__bottom p{
        text-align: center;
        margin-bottom: 41px;
    }
    .history__bottom__btn{
        display: flex;
        justify-content: center;
        margin-left: 0px;
    }
    .history__bottom{
        height: 69vh;
    }


    /*section price*/
    .price{
        padding-top: 70px ;
    }
    .gam__menu{
        row-gap: 80px;
    }
    .gam__menu__item span{
        display: none;
    }

    /*our menu   проблема потім вирішити*/

    .menu__box {
       display: none;
    }
    .menu__active{
        width: 320px;
        display: flex;
    }

    /*carousel section */

    /*gallery section*/

    .gallery__content .col{
        height: 275px;
        min-width: 300px;
    }

    .gallery__content .img1{
        background-size: cover;
    }
    .gallery__content .img2{
        background-size: cover;
    }
    .gallery__content .img3{
        background-size: cover;
    }
    /*absolute*/
    .absol_red{
        display: none;
    }


    /*team section*/
    .team__carousel img{
        width: 348px;
    }







}