@media screen and (max-width: 400px){

    /*header__top*/

    .header__menu{
        display: none;
    }
    .header__logo img{
        width: 50px;
    }
    .wrapper{
        max-width: 340px;
        padding: 0 10px;
    }
    .header__top{
        padding-top: 20px;
    }
    .nav__btn__mobile{
        display: flex;
        flex-direction: column;
        row-gap: 4px;
    }
    .nav__btn__mobile div{
        background: #FF7400;
        border-radius: 50px;
        width: 30.88px;
        height: 3.25px;
    }

    /*header__main*/

    .header__title h2{
        font-size: 30px;
        line-height: 34px;
    }
    .header__title h1{
        font-size: 40px;
        line-height: 46px;
    }
    .header__title p{
        font-size: 15px;
        line-height: 20px;
    }
    .header__title p::before,
    .header__title p::after{
        display: none;
    }



    /*header bottom*/
    .card__item {
        padding: 4px;
    }
    .card__item p {
        font-size: 22px;
        line-height: 25px;
    }
}