html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    /*font-family: 'Roboto', sans-serif;*/
    font-family: 'Tinos', serif;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}


.header{
    background: url("image/bg.png") no-repeat center/cover;
    height: 100vh;
}
.header__top{
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    align-items: center;
}
.header__menu{
    display: flex;
    align-items: center;
    align-items: center;
}
.header__menu .menu{
    border-right: 1px solid #FFFFFF;
    padding-right: 20px;
    height: 50px;
    display: flex;
    align-items: center;
}
.nav{
    display: flex;
    column-gap: 25px;
}
.nav__item img{
    width: 20px;
}
.nav__item a{
    font-family: Open Sans;
    font-style: normal;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    text-decoration: none;

}
.header__contact{
    width: 162px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 31px;
}
.header__phone{
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
}
.header__phone img{
    margin-right: 8px;
}
.header__contact p {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
}
.header__btn{
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    padding: 14px;
    background: rgba(255, 116, 0, 1);
    border: none;
    margin-left: 45px;
}