html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    /*font-family: 'Roboto', sans-serif;*/
    font-family: 'Tinos', serif;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}



/*header top*/

.header{
    background: url("image/bg.png") no-repeat center/cover;
    height: 100vh;
}
.header__top{
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    align-items: center;
}
.nav__btn__mobile{
    display: none;
}
.header__menu{
    display: flex;
    align-items: center;
    align-items: center;
}
.header__menu .menu{
    border-right: 1px solid #FFFFFF;
    padding-right: 20px;
    height: 50px;
    display: flex;
    align-items: center;
}
.nav{
    display: flex;
    column-gap: 25px;
}
.nav__item img{
    width: 20px;
}
.nav__item a{
    font-family: Open Sans;
    font-style: normal;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    text-decoration: none;

}
.header__contact{
    width: 196px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 31px;
    margin-right: 45px;
}
.header__phone{
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
}
.header__phone img{
    margin-right: 8px;
}
.header__contact p {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
}
.header__btn{
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    padding: 14px;
    background: rgba(255, 116, 0, 1);
    border: none;
}

/*header main*/
.header__main{
position: relative;
}
.header__title{
    margin-top: 232px;
    color: #D67E35;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header__title h2{
    font-size: 50px;
    line-height: 57px;
    padding-left: 24px;
}
.header__title h1{
    font-size: 80px;
    line-height: 92px;
}
.header__title p{
    font-family: Open Sans;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    margin-top: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header__title p::before,
.header__title p::after{
    content: ' ';
    display: block;
    width: 61px;
    height: 2px;
    background-color: #FFF;
}
.header__title p::before{
    margin-right: 10px;
}
.header__title p::after{
    margin-left: 10px;
}

.header__main .header__btn{
    margin-top: 21px;
}
.header__main__btn{
    display: flex;
    justify-content: center;
}


/*header bottom*/
.header__card{
    bottom: -100px;
    position: relative;
    display: flex;
    justify-content: center;
}
.card__wrapper{
    display: flex;
    flex-wrap: wrap;
    column-gap: 31px;
    row-gap: 14px;
    justify-content: center;
    align-items: center;
    position: absolute;
}
.card__item{
    width: 349px;
    height: 328px;
    background: #FFFFFF;
    box-shadow: 10px 10px 40px 20px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 28px;
    box-sizing: border-box;
}
.card__item{
    font-family: Tinos;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 30px;
    color: #2C2C2C;
}
.card__item h3{
    margin-bottom: 20px;
}
.card__item span{
    color: #BC9060;
}
.card__item p{
    text-align: center;
    color: #656363;
}


/*section history*/
.history{
    padding-top: 390px;
}
.row__history__top{
    margin-bottom: 122px;
}
.history__title{
    max-width: 444px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.history__title h2{
    font-family: Tinos;
    font-style: normal;
    font-weight: normal;
    font-size: 54px;
    line-height: 62px;
    margin-bottom: 21px;
}
.history__title h2 span{
    color: #D67E34;
}

.history__title p{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
}
.history__numb{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 41px;
    margin-top: 39px;

}
.history__numb .numb{
    max-width: 84px;
}
.history__numb .numb h3{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 54px;
    color: #BC9060;
    text-align: center;
}

.history__bottom{
    background: url("image/bg__history.png") no-repeat center/cover;
    height: 55vh;
}
.row__history__bottom{
    padding: 81px 0 81px 0;
}

.title__history__bottom{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.history__bottom__btn{
    display: flex;
    justify-content: center;
    margin-left: 160px;
}

.title__history__bottom h3{
    font-family: Tinos;
    font-style: normal;
    font-weight: normal;
    font-size: 52px;
    line-height: 60px;
    color: #D67E34;
    margin-bottom: 20px;
}
.title__history__bottom p{
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    color: #FFFFFF;
}

.history__btn{
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    padding: 14px 20px;
    background: rgba(255, 116, 0, 1);
    border: none;
}

/*section price*/
.price{
    padding: 132px 0 150px 0;
}
.price__title{
    font-family: Tinos;
    font-style: normal;
    font-weight: normal;
    font-size: 54px;
    line-height: 62px;
    text-align: center;
}
.price__title h2 span{
    color: #D67E34;
}
.price__content{
    padding-top: 139px;
}
.price__img{
    background: url("image/pizza.png") no-repeat center/cover;
}
.gam__menu{
    display: flex;
    flex-direction: column;
    row-gap: 29px;
}
.gam__menu__item{
    display: flex;
    justify-content: center;
    align-items: center;
}
.gam__menu__item img{
    margin-right: 30px;
}
.gam__menu__item p{
    font-family: Tinos;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*.gam__menu__item p::after{*/
/*    content: " ";*/
/*    display: block;*/
/*    width: 204px;*/
/*    height: 1px;*/
/*    background-color: #000;*/
/*    margin: 0px 9px;*/
/*}*/
.dashed{
    border:none;
    border-bottom:1px dashed #000;
    display:inline-block;
    width: 204px;
    margin: 0px 9px;
}
.gam__menu__item span{
    font-family: Tinos;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 30px;
}

/*menu*/


.our__menu{
    padding-top: 100px;
    padding-bottom: 200px;
    background: url("image/CHECK OUR MENU.png") no-repeat center/cover;
}
.menu__title{
margin-bottom: 130px;
}
.menu__title h2{
    font-family: Tinos;
    font-style: normal;
    font-weight: normal;
    font-size: 54px;
    line-height: 62px;
    color: #FFFFFF;
    text-align: center;
    text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
}
.menu__box{
    width: 350px;
    height: 510px;
    background: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}
.menu__box .recomented{
    padding: 12px 7px;
    background: #D67E34;
    position: absolute;
    top: 0;
    left: 0;
}
.box__item{
    position: relative;
    justify-content: center;
    align-items: center;
    max-width: 216px;
}
.img_abs{
    right: -19px;
    position: absolute;
    top: 120px;
}
.menu__box h4{
    font-family: Tinos;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 30px;
    color: #000000;
    margin: 17px 0px;
    text-align: center;
}
.menu__box p{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #000000;
}
.menu_box_btn{
    background: #D67E34;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
    border: none;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    padding: 14px 67px;
    margin-top: 20px;

}
/*carousel section */

.carousel{

}
.carousel-inner{
    justify-content: center;
    align-items: center;
    display: flex;
    background: #E5E5E5;
    padding-top: 110px;
    padding-bottom: 139px;
}
.carousel-item{
    max-width: 920px;
    text-align: center;
}
.carousel-item .review{
    font-family: Open Sans;
    font-style: italic;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
    margin-bottom: 18px;
}
.carousel-item h4{
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    margin: 16px 0px 9px 0px;
}
.carousel-item .name{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
}

/*.carousel-indicators button{*/
/*    width: 5px;*/
/*    height: 5px;*/
/*    border-radius: 100%;*/
/*    color: #ef1818;*/

/*}*/

.carousel-indicators [data-bs-target]{
    width: 5px;
    height: 5px;
    border-radius: 100%;
}

/*gallery section*/
.gallery{
    padding-top: 100px;
    position: relative;
}
.gallery .absol_red{
    width: 30px;
    height: 100px;
    background: red;
    position: absolute;
    top: 220px;
}
.gallery .left_red{
    left: 0;
}
.gallery .right_red{
    right: 0;
}
.galery__title{
    font-family: Tinos;
    font-style: normal;
    font-weight: normal;
    font-size: 54px;
    line-height: 62px;
    text-align: center;
    margin-bottom: 56px;
}
.galery__title h2 span{
    color: #D67E34;
}

/*team*/
.team{
    padding-top: 100px;
}
.team .team__title{
    font-family: Tinos;
    font-style: normal;
    font-weight: normal;
    font-size: 54px;
    line-height: 62px;
    text-align: center;
    margin-bottom: 56px;
}
.team__title h2 span{
    color: #D67E34;
}

.carousel-item{

}
/*footer*/
.footer{
    background: url("image/footer_bg.png") no-repeat center/cover;
    height: 80vh;
}